.banner {
    background-image: url("./../../assets/topbanner.jpg");
    .leftBanner {
        margin-top: 100px;
    }
    .rightText {
        margin-top: 100px;
        color: #fff;
        text-align: left;
    }
}
